﻿@model Ordermanagementsystemdemo.user
@if (Model.roleid == 1)
{
    <li>@Html.ActionLink("AllProduct", "Index", "products")</li>
     <li>@Html.ActionLink("ViewOrder", "Index", "Order")</li>
}
else
{
    <li>@Html.ActionLink("AllProduct", "Index", "products")</li>
    <li>@Html.ActionLink("YourOder", "Orderbyperperson", "Order")</li>
}
