﻿@model Ordermanagementsystemdemo.product

@{ViewBag.Title = "Addtocart";
}
<br />
<br />
<br />
@using (Html.BeginForm("Addtocart", "products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="container">

    <div class="row">
        <div>
            <img style="min-height:200px; width:200px;" src="@Url.Content(Model.image)"/>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>ProductName:@Model.name</h1>
            <h1>Price:@Model.price</h1>
            <input type="number" name="qty" value="1" id="qty" min="1" max="5"/>

            <input type="submit" value="Submit" class="btn btn-default"/>
        </div> 

    </div>
</div>
}
