﻿

@{ ViewBag.Title = "Checkout";
        }

<h2>Checkout</h2>

@if (TempData["product"] != null)
{
    <table class="table table-responsive">

        <thead>
            <tr>
                <th>ProductName</th>
                <th>CustomerName</th>
                <th>Price</th>
                     
                
            </tr>
        </thead>


        <tbody>
            @foreach(var item in TempData["product"] as List<Ordermanagementsystemdemo.Models.Cart>)
            {
                <tr>
                    <td>@item.productname</td>
                    <td>ViewBag.customername</td>
                    <td>price</td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <h2 style="color:red">Cart is Empty...</h2>
    @Html.ActionLink("go back", "Index","products")
}
@if (TempData["product"] != null)
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Order Now" class="btn btn-primary" />
    }
}