﻿@model IEnumerable<Ordermanagementsystemdemo.product>


@{
    ViewBag.Title = "Index";
}
@if (TempData["msg"]!=null)
{
    <div class="alert alert-info">
        <strong>Info!</strong> @TempData["msg"]
    </div>
}


    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center"><span class="btn btn-info">@Html.ActionLink("Checkout", "Checkout", "products")</span> </h3>  
        <div>
                        @if (ViewBag.roleid == 1)
                        {
                            <span class="btn btn-success">
                                Html.ActionLink("Create New", "Create")</span>
                                }
</div>     
    </div>
</div>

    <div class="row" style="margin-bottom:100px;">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-4" style="height:200px;margin-top:100px">
                <img class="img img-responsive cimg" src="@Url.Content(item.image)" style="height:110%;width:110%; border-radius:50px 50px 50px 50px" />
                <h3 style="color:#808080; font-family:'Arial Rounded MT';text-align:center">@item.name <small>Rs @item.price</small></h3>
                <h4 style="text-align:center"><span class="btn btn-success">@Html.ActionLink("Add to cart", "Addtocart", new { id = @item.id })</span> </h4>
            </div>
        }

    </div>

    @*<h2>Index</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.availablequentity)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>

                <td>
                    <img src="@Url.Content(item.image)" alt="Image"height="80px" width="80px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.availablequentity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
               </td>
            </tr>
        }

        </table>*@

    @*<div class="row " style="margin-bottom:100px"></div>*@
