﻿@model IEnumerable<Ordermanagementsystemdemo.order>
@{
    ViewBag.Title = "Index";
}




<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (ViewBag.Roleid == 1)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderstatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customername)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.orderstatus)*@
                    @Html.DropDownList("status", new List<SelectListItem>
               {
                   new SelectListItem {Text="Inprogress", Value="1", Selected=true },
                   new SelectListItem {Text="Approved", Value="2"},
                   new SelectListItem {Text="Completed", Value="3"},
                   new SelectListItem {Text="Placed", Value="4" },
                   new SelectListItem {Text="Cancelled", Value="5" }
               },"select status")
                </td>
                <td><a class="btn btn-danger" onclick="sendmail()">save and send mail to user</a></td>

            </tr>

        }

    </table>
}
else
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
          

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
              


            </tr>

        }

    </table>
}

@*<div>
    <a class="btn btn-danger" onclick="sendmail()">save and send mail to user</a>
</div>*@
<script>
    var sendmail = function () {
        $.ajax({
            type: "POST",
            url: "Order/Sendmailtouser",
            success: function (data) {
                alert("mail sent");
            }
        })
    }
</script>

