﻿@model IEnumerable<Ordermanagementsystemdemo.order> 


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.customername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderstatus)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderstatus)
            </td>


        </tr>

    }

</table>

